Cartopy
cf_xarray
colormaps
contourpy
dask
distributed
fasttreeshap
intake
ipython
matplotlib
numpy
pandas
polars
polars-ols
scikit-learn
scipy
shap
simpsom-dask
tqdm
xarray
xgboost
numpydoc
pydata-sphinx-theme